<header class="header-colored-hero">
    <img src="assets/img/site/bg_tile.jpg" alt="background" class="background">
    <div class="overlay red"></div>
    <div class="container">
        <div class="image-wrap-logo">
            <img src="assets/img/components/partners/iwoca.png" alt="iwoca logo">
        </div>

        <h1>
            How iwoca is disrupting FinTech with this secret recruitment weapon
        </h1>

        <ul class="list-header-white">
            <li><strong>Industry:</strong> Financial Technology</li>
            <li><strong>Location:</strong> London</li>
            <li><strong>Number of employees:</strong> 300</li>
        </ul>
    </div>
</header>