<section class="section-default">
    <div class="container">
        <h4>Summary:</h4>
        <p> Since using Accelerate’s Developer <em>Insights</em> solution, iwoca have: </p>
        <ul>
            <li>Shortlisted quality developers for interview within minutes</li>
            <li>Hired 80% of interviewees - only the best are interviewed - giving senior developers more time for
                innovation
            </li>
            <li>Made confident recruitment decisions in a sector where mistakes can be costly</li>
        </ul>

        <div class="blockquote-wrap">
            <blockquote>
                <p class="content">
                    “With the Developer <em>Insights</em> report, it takes less than 5 minutes to assess a candidate.”
                </p>
                <p class="content">
                    “Our developers do not have to compile, test or run the candidate’s code.”
                </p>
                <p class="author">
                    Will Hayes, Engineering Manager, iwoca
                </p>
            </blockquote>
        </div>
        <p>
            Here’s how it worked for them. And could do the same for you ...
        </p>
    </div>
</section>