<section class="section-default">
    <div class="container">
        <h4>The Challenge:</h4>
        <p>
            It’s a story of David Vs. Goliath. <br/>
            iwoca offers credit to small businesses in the UK and Germany. They’re competing with giants <br/>
            who’ve stood for centuries. And the stakes are high.
        </p>

        <p>As Will Hayes says:</p>
        <blockquote>
            <p class="content">
                “As a lender to small businesses we want to be in a position to be able to make confident hiring
                decisions.”
            </p>
        </blockquote>
        <p>None of their previous hiring methods provided total confidence.</p>
        <p> Take-home challenges were slow and difficult to assess. When candidates used different languages, for
            instance,
            it was hard to know who was best. </p>

        <blockquote>
            <p class="content">
                “We need to be the finance company of today, whilst being the platform of the future. And we need to
                work with developers who can deliver this vision.”
            </p>
            <div class="author">
                Will Hayes
            </div>
        </blockquote>

        <p>Understanding the results is effortless.</p>
        <p> Developer <em>Insights</em> benchmarks and ranks all your candidates for you. Every metric is presented as easy-read
            tables and charts, including: </p>

        <br>
        <ul>
            <li>Speed of delivery</li>
            <li>Time distribution across each round</li>
            <li>Test coverage</li>
            <li>Coding technique</li>
            <li>Time penalties (added for coding mistakes)</li>
        </ul>
        <br>

        <p>
            What's more, other assessment tools often force your applicants to use unfamiliar software.
        </p>

        <p>
            Developer <em>Insights</em> is different.
        </p>

        <p> Your candidates work in their preferred IDE.
        </p>

        <p>
            This means you don't see a talented developer battling an unfamiliar environment.
        </p>

        <p>
            You see what they're really capable of. And identify the candidates who can deliver. <br/>
            With Developer <em>Insights</em> you uncover the hidden talent your competitors may have missed.
        </p>
    </div>
</section>