<section class="section-default">
    <div class="container">
        <h4>The Results:</h4>
        <blockquote>
            <p class="content">
                “The key difference is the speed at which our developers can evaluate the candidate’s assessment report.”
            </p>
            <div class="author">
                Will Hayes
            </div>
        </blockquote>
        <p>
            What used to drag for days now gets reviewed immediately.
        </p>

        <blockquote>
            <p class="content">
                “Developer <em>Insights</em> identifies candidates that deliver.”
            </p>
            <div class="author">
                Will Hayes
            </div>
        </blockquote>

        <p>
            And because Developer <em>Insights</em> provides you with the critical metrics to understand your
            candidates’ coding technique and delivery ability,
            deciding which candidates to progress to interview takes just a few minutes.

            And because Developer <em>Insights</em> uses every important metric to rank your candidates, picking your top
            interviewees is a breeze. <br/>
            iwoca now offer jobs to 80% of interviewees - freeing up their top developers for innovation.
        </p>

        <p>
            Want to see what Developer <em>Insights</em> could do for you?
        </p>
    </div>
</section>
