<section class="section-default" data-aos="fade-up" data-aos-delay="300">
    <div class="container">
        <h3>
            When you hire a dev, do you really know how good they are?
        </h3>
        <div class="row justify-center">
            <div class="col-xl-10 col-lg-10">
                <div class="container questions">
                    <div class="row">
                        <div class="container question-item">
                            <div class="number-in-circle blue-bg">1</div>
                            <p>How fast do they code, and can they code under pressure?</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="container question-item">
                            <div class="number-in-circle pink-bg">2</div>
                            <p>Do they have a consistent
                                development technique?</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="container question-item">
                            <div class="number-in-circle red-bg">3</div>
                            <p>How do they balance Speed with quality and testing?</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>