<h4 class="partners__caption white">Trusted by</h4>
<div class="partners__list">
    <div class="partner">
        <img src="assets/img/components/partners/masabi.png" alt="Masabi">
    </div>
    <div class="partner">
        <img src="assets/img/components/partners/valtech.png" alt="Valtech">
    </div>
    <div class="partner">
        <img src="assets/img/components/partners/ofgem.png" alt="OFGEM">
    </div>
    <div class="partner">
        <img src="assets/img/components/partners/think-money.png" alt="ThinkMoney">
    </div>
    <div class="partner">
        <img src="assets/img/components/partners/iwoca.png" alt="iwoca">
    </div>
</div>
