<section class="section-partners-companies">
    <div class="container">
        <div class="partners-companies-wrapper">
            <h3 class="caption">Companies that trust us</h3>
            <div class="partners__list">
                <div class="partner">
                    <img src="assets/img/components/partners-dark/masabi.png" alt="">
                </div>
                <div class="partner">
                    <img src="assets/img/components/partners-dark/valtech.png" alt="">
                </div>
                <div class="partner">
                    <img src="assets/img/components/partners-dark/ofgem.png" alt="">
                </div>
                <div class="partner">
                    <img src="assets/img/components/partners-dark/thinkmoney.png" alt="">
                </div>
                <div class="partner">
                    <img src="assets/img/components/partners-dark/iwoca.svg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>