<div class="process-graph">
    <h6> Before Developer Insights</h6>
    <div class="graph-wrap">

        <div class="part part-1 bot red">
            <div class="graph-part">
                <div class="label">Online algorithmic test</div>
            </div>
            <div class="triangle"></div>
            <div class="caption">1. Just screens out candidates who can't code</div>
        </div>

        <div class="part part-2 top orange">
            <div class="graph-part">
                <div class="label">Take-home assignment</div>
            </div>
            <div class="triangle"></div>
            <div class="caption">2. No time data - can they deliver?</div>
        </div>

        <div class="part part-3 bot blue">
            <div class="graph-part">
                <div class="label">Face to face interview</div>
            </div>
            <div class="triangle"></div>
            <div class="caption">3. After two assessments, confidence in their delivery skills is still low</div>
        </div>

        <div class="part part-4 green">
            <div class="graph-part">
                <div class="label">Offer</div>
            </div>
        </div>

    </div>
</div>