<section class="section-trial">
    <div class="container">

        <div class="content">
            <h3 class="heading">Request your trial:</h3>
            <h4 class="sub-heading">Try Developer Insights with some of your candidates.</h4>
            <ul>
                <li>Everything is done for you.</li>
                <li>Simply wait for your candidate reports to arrive.</li>
                <li>See how much faster – and easier - you could find top-quality, reliable developers.</li>
            </ul>
            <div class="btn-wrap">
                <a href="/request-trial.html" class="btn btn-red">Request trial</a>
            </div>
        </div>

    </div>
</section>