<header class="header-text-based">
    <div class="container">
        <h1>
            Master Subscription Agreement
        </h1>

        <p>
            This agreement governs the use of our services, including the free trial.
        </p>
    </div>
</header>
