<section class="section-default">
    <div class="container">
        <h4>1. Header Information</h4>

        <p>
            This Agreement was last updated on February 1, 2020. It is effective between You and Accelerate as of the
            date of You accepting this Agreement (the “Effective Date”).
        </p>

        <p>
            This is an agreement between:
        </p>

        <p>
            <i>Accelerate Systems Limited of International House, 64 Nile Street, London, N1 7SR ("I/We/Us" in this
                Agreement)</i>
        </p>

        <p>
            <b>and</b>
        </p>

        <p>
            <i><b>You</b> as the company using our services ("You" in this Agreement).</i>
        </p>
    </div>
</section>