<section class="section-default">
    <div class="container">
        <h4>2. Overview</h4>

        <p>
            These are the terms and conditions referred to in your order ('Order') for Us to supply You with candidate
            evaluation solutions ('Services').
        </p>

        <p>
            They describe the terms on which We will supply the Services to You, and they explain our liability to You
            if We fail to meet these standards. They also explain what You have to do.
        </p>

        <p>
            In this agreement the following terms have the following definitions:
        </p>

        <ul>
            <li>
                <b>Candidate Data:</b> Information collected about a candidate. This includes performance metrics, source code
                and video recording.
            </li>
            <li>
                <b>Coding Challenge Platform:</b> The technical system that enables You to assess a candidate and access
                information about their performance.
            </li>
        </ul>
    </div>
</section>