<section class="section-default">
    <div class="container">
        <h4>3. The Contract</h4>

        <p>
            3.1 The Order is your offer to buy the Services from Us on these Conditions, and You must make sure that the
            Order (and in particular any specification that forms part of your Order) is correct.
        </p>

        <p>
            3.2 When We send You a written acceptance, You have a binding Contract with Us, and these Conditions are
            part of it.
        </p>

        <p>
            3.3 This Contract is our entire Agreement. No previous statements or representations that We have made to
            You form part of the Contract unless they are written into it. This includes samples, drawings, advertising,
            catalogues and other promotional or descriptive material.
        </p>

        <p>
            3.4 If We have given You a quotation for the Services, it is only valid for 15 days from its issue date. It
            is not an offer to supply the Services to You.
        </p>

        <p>
            3.5 If either of Us needs to give the other a notice under the Contract ('Notice'), the Notice must be given
            properly to be effective. Clause 13.4 explains how to give a proper Notice.
        </p>
    </div>
</section>