<section class="section-default">
    <div class="container">
        <h4>4. Our Services</h4>

        <p>
            4.1 We will supply the Services to You that are set out in the Contract and do what We reasonably can to
            manage and complete the Services.
        </p>

        <p>
            4.2 We can change the Services if necessary to comply with any regulations, or if our changes don't affect
            the nature and quality of the Services. If We decide to make a change, We will tell You in a Notice.
        </p>

        <p>
            4.3 We will appoint a project manager to liaise with You.
        </p>

        <p>
            4.4 We agree that candidate reports will be made available to You no more than 24 hours following a
            candidate performing a coding challenge.
        </p>

        <p>
            4.5 We will back up and store Candidate Data for the duration of this Agreement. Any backup will be deleted
            upon termination.
        </p>
    </div>
</section>