<section class="section-default">
    <div class="container">
        <h4>5. Your Obligations</h4>

        <p>
            5.1 You must do the following things:
        </p>

        <ul>
            <li>5.1.1 co-operate with Us so that We can supply the Services properly;</li>
            <li>5.1.2 appoint your own project manager to liaise with ours;</li>
        </ul>

        <p>
            5.2 You won't try to solicit or employ any of our employees or sub-contractors who have been working on the
            Project either during the Contract or for at least 12 months after the Contract has ended.
        </p>
    </div>
</section>