<section class="section-default">
    <div class="container">
        <h4>6. Changes</h4>

        <p>
            6.1 If either of Us wants to change our Services, it must tell the other in a Notice. We will then give You
            a written estimate which will tell You:
        </p>

        <ul>
            <li>6.1.1 how long We think it will take to make the change;</li>
            <li>6.1.2 if the change will also mean a change in our charges;</li>
            <li>6.1.3 other important changes;</li>
        </ul>

        <p>
            6.2 You agree that We can make reasonable changes that We have told You about in our Notice.
        </p>

        <p>
            6.3 If You want Us to change, We must agree to the changes in writing.
        </p>
    </div>
</section>