<section class="section-default">
    <div class="container">
        <h4>7. Charges</h4>

        <p>
            7.1 We will charge you the fees set out in the Order.
        </p>

        <p>
            7.2 We can also charge You for the cost of materials and for all other reasonable expenses that We incur to
            supply the Services (for example, travel, subsistence, accommodation and the cost of Services supplied by
            others). We will also add VAT.
        </p>

        <p>
            7.3 We can increase our charges on giving you no less than three months notice prior to each renewal period.
        </p>

        <p>
            7.4 You must pay Us in full within 30 days of the invoice date. Time of payment is of the essence.
        </p>

        <p>
            7.5 If You fail to pay on time, We may charge You interest in accordance with the Late Payment of Commercial
            Debts (Interest) Act 1998 from time to time from the due date until payment, whether before or after any
            court judgment on the debt. The interest will be earned daily and You must pay it all with the overdue
            amount.
        </p>

        <p>
            7.6 You are not allowed to hold back any payment due to Us as a set-off or credit or counterclaim unless the
            law allows it. However, We may set off any amount You owe Us against any amount We owe You.
        </p>
    </div>
</section>