<section class="section-default">
    <div class="container">
        <h4>8. Intellectual Property</h4>

        <p>
            8.1 We own all intellectual property rights arising from our Services.
        </p>

        <p>
            8.2 Your use of intellectual property rights owned by someone else depends upon Us getting a licence from
            the owner for You to use those rights.
        </p>

        <p>
            8.3 We give You a free, non-exclusive, world-wide licence to use intellectual property as much as is
            necessary for You to make reasonable use of our Services. But this licence will end when the Contract ends.
        </p>

        <p>
            8.4 You agree to grant Us a free, non-exclusive, world-wide licence to use, reproduce, adapt, modify,
            publish and distribute any data acquired through the use of the Services.
        </p>

        <p>
            8.5 You acknowledge that the inner workings of the Coding Challenge Platform represents intellectual
            property and should not be reproduced in any form.
        </p>

        <p>
            8.6 We provide you with a licence to use the Coding Challenges mentioned in the Order to assess candidates.
            This does not grant You the right to reproduce the Coding Challenges or distribute them via other means
            apart from the Coding Challenge Platform.
        </p>
    </div>
</section>