<section class="section-default">
    <div class="container">
        <h4>9. Confidentiality</h4>

        <p>
            9.1 We each agree to keep the other's confidential information and knowhow confidential, and not to disclose
            it to anyone else unless they need to know about it to carry out this Contract. This Agreement continues
            after the rest of the Contract has ended.
        </p>
    </div>
</section>