<section class="section-default">
    <div class="container">
        <h4>11. Financial Problems and Breach</h4>

        <p>
            11.1 If any of the events listed below takes place, or if We think that any of them is likely to happen, We
            can cancel or suspend our Services or send You a Notice to end the Contract straight away and You must
            immediately pay Us all sums that You owe Us for Services We have supplied to You.
        </p>

        <p>
            The events are:
        </p>

        <ul>
            <li>
                11.1.1 You stop, or threaten to stop, paying your debts (this includes your failure to pay Us for the
                Services on time as set out in clause 7);
            </li>
            <li>
                11.1.2 You are unable to pay your debts as they fall due, or are deemed to be unable to pay your debts
                within the meaning of the Insolvency Act 1986;
            </li>
            <li>
                11.1.3 You negotiate with any creditors to reschedule your debts, or You enter into any arrangement or
                compromise with your creditors concerning your debts;
            </li>
            <li>
                11.1.4 a petition is filed, a notice is given, a resolution is passed or an order is made for your
                winding-up (other than as part of a solvent amalgamation), or for your bankruptcy;
            </li>
            <li>
                11.1.5 one or more of your creditors or charges of any kind becomes entitled to appoint an
                administrative receiver or takes possession of any of your assets, or any other legal action is taken
                against your assets;
            </li>
            <li>
                11.1.6 a court application or order is made for the appointment of an administrator over You and your
                affairs;
            </li>
            <li>
                11.1.7 You stop carrying on business, or threaten to do so;
            </li>
            <li>
                11.1.8 (if You are an individual) You die or lose physical or mental capacity;
            </li>
            <li>
                11.1.9 You seriously breach your Contract with Us.
            </li>
        </ul>

        <p>
            11.2 Similarly, if We do any of the things listed in clause 10.1, You can send Us a Notice to end the
            Contract straightaway.
        </p>
    </div>
</section>