<section class="section-default">
    <div class="container">
        <h4>12. Liability Limitations</h4>

        <p>
            12.1 We will not be liable to You for any loss of profit or any consequential loss arising from our Contract
            with You, and our total liability to You under the Contract will not exceed the value of the fees paid by
            You to Us.
        </p>

        <p>
            12.2 These Conditions do not limit our liability for death, personal injury caused by our negligence, fraud,
            breach of the terms implied by section 2 of the Sale of Goods and Services Act 1982 (title and quiet
            possession) or any other matter that the law says We can't exclude. But otherwise, any warranties or terms
            which are implied into this Contract by any piece of law are excluded.
        </p>

        <p>
            12.3 Neither of Us will be liable to the other for failure or delay in carrying out this Contract which is
            caused by an event beyond our reasonable control, which We could not have foreseen or which was unavoidable.
            This includes industrial disputes, energy or transport failures, acts of God, war, terrorism, civil unrest,
            explosions, mechanical breakdown, natural disasters, malicious damage, or default of suppliers or
            sub-contractors.
        </p>
    </div>
</section>