<section class="section-default">
    <div class="container">
        <h4>13. General</h4>

        <p>
            13.1 We are allowed to assign, transfer, charge or sub-contract our rights and obligations under this
            Contract, but You may not do any of these things unless We have previously agreed in writing that You can.
        </p>

        <p>
            13.2 Nobody other than We and You may rely on any terms of this Contract.
        </p>

        <p>
            13.3 Changes to the Contract are only binding if We agree them in writing, sign them and give You a copy.
        </p>

        <p>
            13.4 If either of Us wishes to give a notice to the other under the Contract, We must give it in writing and
            either deliver it or send it by first class post to the other's registered office (or another address
            specifically given to the sender for this purpose). Delivery by post will be regarded as completed by 9:00
            am on the second day after posting. This arrangement does not apply to the service of any documents in legal
            proceedings.
        </p>

        <p>
            13.5 Delay in exercising a right under the Contract will not take away that right or any other right.
        </p>

        <p>
            13.6 The Parties will use their best efforts to negotiate in good faith and settle any dispute that may
            arise out of or relate to this Agreement or any breach of it.
        </p>

        <p>
            13.7 If any such dispute cannot be settled amicably through ordinary negotiations between the Parties, or
            either or both is or are unwilling to engage in this process, either Party may propose to the other in
            writing that structured negotiations be entered into with the assistance of a fully accredited mediator
            before resorting to litigation.
        </p>

        <p>
            13.8 If the Parties are unable to agree upon a mediator, or if the mediator agreed upon is unable or
            unwilling to act and an alternative mediator cannot be agreed, any party may within 14 days of the date of
            knowledge of either event apply to LawBite to appoint a mediator under the LawBite Mediation Procedure.
        </p>

        <p>
            13.9 Within 14 days of the appointment of the mediator (either by mutual agreement of the Parties or by
            LawBite in accordance with their mediation procedure), the Parties will meet with the mediator to agree the
            procedure to be adopted for the mediation, unless otherwise agreed between the parties and the mediator.
        </p>

        <p>
            13.10 All negotiations connected with the relevant dispute(s) will be conducted in confidence and without
            prejudice to the rights of the Parties in any further proceedings.
        </p>

        <p>
            13.11 If the Parties agree on a resolution of the dispute at mediation, the agreement shall be reduced to
            writing and, once signed by the duly authorised representatives of both Parties, shall be final and binding
            on them.
        </p>

        <p>
            13.12 If the Parties fail to resolve the dispute(s) within 60 days (or such longer term as may be agreed
            between the Parties) of the mediator being appointed, or if either Party withdraws from the mediation
            procedure, then either Party may exercise any right to seek a remedy through arbitration by an arbitrator to
            be appointed by LawBite under the Rules of the LawBite Arbitration Scheme.
        </p>

        <p>
            13.13 Any dispute shall not affect the Parties' ongoing obligations under the Agreement.
        </p>

        <p>
            13.14 The Contract is governed by English law and the courts of England and Wales will have exclusive
            jurisdiction to deal with any disputes arising from it.
        </p>
    </div>
</section>