<section class="section-default">
    <div class="container">
        <div class="row justify-center">
            <div class="col-xl-10">

                <!-- Support All Major languages -->
                <h4>The languages</h4>
                <p>
                    Whether you are hiring polyglot “all-rounders” or experts, we support all the major
                    programming languages.
                </p>

                <div class="lang-icons-grid">

                    <!-- .NET Columns-->
                    <div class="lang-logo-col">
                        <div class="part-title">.NET</div>
                        <div class="lang-logo-col-flex">
                            <div class="lang-item">
                                <div class="img-wrap">
                                    <img src="assets/img/page/developer_insights/langs/c-sharp.svg" alt="C#">
                                </div>
                                <strong class="lang-title">C#</strong>
                            </div>
                            <div class="lang-item">
                                <div class="img-wrap">
                                    <img src="assets/img/page/developer_insights/langs/f-sharp.svg" alt="F#">
                                </div>
                                <strong class="lang-title">F#</strong>
                            </div>
                            <div class="lang-item">
                                <div class="img-wrap">
                                    <img src="assets/img/page/developer_insights/langs/vb.svg" alt="VB.NET">
                                </div>
                                <strong class="lang-title">VB</strong>
                            </div>
                        </div>
                    </div>

                    <!-- JVM Columns-->
                    <div class="lang-logo-col">
                        <div class="part-title">JVM</div>
                        <div class="lang-logo-col-flex">
                            <div class="lang-item">
                                <div class="img-wrap">
                                    <img src="assets/img/page/developer_insights/langs/scala.svg" alt="Scala">
                                </div>
                                <strong class="lang-title">Scala</strong>
                            </div>
                            <div class="lang-item">
                                <div class="img-wrap">
                                    <img src="assets/img/page/developer_insights/langs/java.svg" alt="Java">
                                </div>
                                <strong class="lang-title">Java</strong>
                            </div>
                        </div>
                    </div>

                    <!-- WEB Columns-->
                    <div class="lang-logo-col">
                        <div class="part-title">&nbsp;</div>
                        <div class="lang-logo-col-flex">
                            <div class="lang-item">
                                <div class="img-wrap">
                                    <img src="assets/img/page/developer_insights/langs/ruby.svg" alt="Ruby">
                                </div>
                                <strong class="lang-title">Ruby</strong>
                            </div>
                            <div class="lang-item">
                                <div class="img-wrap">
                                    <img src="assets/img/page/developer_insights/langs/python.svg" alt="Python">
                                </div>
                                <strong class="lang-title">Python</strong>
                            </div>
                            <div class="lang-item">
                                <div class="img-wrap">
                                    <img src="assets/img/page/developer_insights/langs/node.svg" alt="NodeJS">
                                </div>
                                <strong class="lang-title">JavaScript</strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
