<section class="section-rounded">
    <div class="container">
        <div class="section-heading-wrap">
            <h3 class="section-heading center red">The Process</h3>
            <hr class="red-bg">
        </div>
    </div>
</section>