<section class="section-default">
    <div class="container">
        <div class="row justify-center">
            <div class="col-xl-10">

                <!-- This needs work -->
                <h4 class="title">The report</h4>
                <p>
                    Our Developer <em>Insights</em>
                    report makes it simple for you to identify candidates’ speed,
                    delivery technique and code quality.
                </p>

                <div class="report-image-with-overlay">
                    <img src="assets/img/page/developer_insights/report.png" alt="">

                    <!-- Right Metrics -->
                    <div class="report-overlay-text">
                        <div class="section-sub-content">
                            <p> The report provides key insights into: </p>
                            <ul>
                                <li>Delivery speed</li>
                                <li>Time distribution across rounds</li>
                                <li>Time penalties</li>
                                <li>Test coverage</li>
                                <li>Coding technique</li>
                            </ul>
                            <p>
                                Take a look at a <a class="underline" href="assets/img/page/developer_insights/report.png" target="_blank">real report</a>.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-center-aligned">
    <div class="container">
        <div class="row justify-center">
            <p>This video explains the Developer Insights reports:</p>
            <div class="col-lg-10">
                <%- include('../../../components/content/vimeo_embed.ejs', {
                vimeo_id: "639057661",
                vimeo_security_code: "92f561012c",
                component_unique_name: "comparison_demo"
                }) %>
            </div>
        </div>
    </div>
</section>