<section class="section-indented-text">
    <div class="container">
        <h4>Optimise the process as a whole</h4>
        <p>
            The structure of a hiring process can be boiled down to this key question:
        </p>
        <blockquote data-aos="fade-right" data-aos-delay="200">
            <p class="content">
                "What tests do you need and in which order, so that the process is optimal and so you can make
                confident hiring decisions?"
            </p>
        </blockquote>
        <p>
            A common mistake is to add assessments steps on top of an existing process.<br>
            <b>Don’t do that!</b>
        </p>
        <p>
            Each assessment step lengthens the recruitment process and you risk losing candidates.
        </p>
        <p>
            When you make changes to your assessment you should always optimise the whole process to make sure
            that you obtain high quality predictive insights with the least number of assessment steps.
        </p>
        <p>
            At the same time, the candidate experience has to be kept to a high level as we operate in a
            candidate-driven market.
        </p>
        <p>
            <b>Let’s look at such a process!</b>
        </p>

        <%- include('../../../components/content/process_graph_scenario_based.ejs') %>
    </div>
</section>