<section class="section-indented-text">
    <div class="container">
        <h4>Step 1: Candidate Engagement Call</h4>
        <p>
            This is <b>NOT</b> a phone screening call*.
        </p>
        <p>
            This is where a lot of great companies get it wrong.
        </p>
        <blockquote data-aos="fade-right" data-aos-delay="200">
            <p class="content">
                When hiring top-notch engineers, you are not buying, you are selling.
                Your goal is to get the candidate excited about the role and your company.
            </p>
        </blockquote>
        <p>
            This call “drives” the subsequent candidate behaviour. Candidates are often dubious that an actual
            role exists. By taking the time to explain the projects that they will be working on, the tech that
            they will be using and the company culture, you will have built trust and they will be far more
            engaged and incentivised to complete the scenario-based challenge.
        </p>
        <p>
            *The call does provide you with the opportunity to assess a candidate's soft-skills.
        </p>
    </div>
</section>
