<section class="section-indented-text">
    <div class="container">
        <h4>Step 2: Scenario Based Coding Challenge</h4>
        <p>
            The candidate does this in their own time, using their own laptop and tools.
        </p>
        <p>
            It is an actual proof of work and the purpose of this is to give you insights into their:
        </p>
        <ul>
            <li>Development technique</li>
            <li>Delivery pace</li>
            <li>Quality of code</li>
            <li>Testing strategy</li>
        </ul>
        <p>
            The longer the coding challenge the more accurate the insights will be.
        </p>
        <p>
            The sweet spot is between 2 to 4 hours. Long enough to get good quality insights, but short enough
            to be done during an evening.
        </p>
    </div>
</section>