<section class="section-indented-text">
    <div class="container">
        <h4>Step 3: Non-technical F2F Interview </h4>
        <p>
            This is where everything comes together.
        </p>
        <p>
            The insights provided by the scenario-based coding challenge will have already addressed a
            significant amount of the technical skills.
        </p>
        <p>
            This frees you up to cover the other skills which can also make a difference for development roles.
        </p>
        <p>
            By using a combination of:
        </p>
        <ol>
            <li>Code review the coding challenge</li>
            <li>Questions about key technologies</li>
            <li>Whiteboard session focused on software architecture</li>
        </ol>
        <p>
            You can assess the candidates’:
        </p>
        <ul>
            <li>ability to explain and present complex information</li>
            <li>experience with key technologies or frameworks</li>
            <li>understanding of infrastructure and deployments</li>
            <li>architectural principles</li>
        </ul>
        <p>
            For example, one approach is to carry out a whiteboarding exercise, where the candidate works
            together with you to design a system.
        </p>
        <p>
            This approach gauges the candidate's systems thinking and engineering experience.
        </p>
    </div>
</section>
