<section class="section-indented-text">
    <div class="container">
        <h4>Step 4: The offer</h4>
        <p>
            By this point you will have a complete picture of the candidates’ skillset and have the confidence
            to make offers to who you now know are <b><u>objectively</u></b> the best candidates.
        </p>
    </div>
</section>