<section class="section-indented-text">
    <div class="container">
        <h4>What predictive insights do current assessment methods provide?</h4>
        <p>
            Firstly, “CV filtering" is not an assessment method as it provides no actionable insights.
        </p>
        <p>
            The main assessment methods used by companies are:
        </p>
        <ul>
            <li>traditional take-home exercises</li>
            <li>online programming puzzles</li>
            <li>pairing sessions</li>
            <li>questions via an online questionnaire</li>
            <li>questions during the face to face interviews</li>
            <li>whiteboarding sessions</li>
        </ul>
        <p>
            The following section provides an overview of each, their pros and cons and how they stack up
            against the four predictive insights that Engineering Managers require to make a confident decision
            to fast-track them to interview.
        </p>
    </div>
</section>