<section class="section-indented-text">
    <div class="container">
        <a class="anchor" id="questions-f2f"></a>
        <h4>Questions during the face to face interview</h4>

        <b>What is it:</b>
        <p>
            During the face to face interview, you ask the candidate targeted questions that are aimed to
            uncover more about the candidates' experience with a particular technology.
        </p>

        <b>Positives:</b>
        <ul>
            <li>you can really get into the minute details of one particular technology</li>
            <li>the interviewer can control how much time it is spent covering a particular area</li>
        </ul>

        <b>Negatives:</b>
        <ul>
            <li>you need to ask the right questions otherwise you risk making an assessment on things that don't
                really matter for the success of the hire
            </li>
            <li>guidance needs to be provided to interviewers in regard to what the acceptable answers are - and
                why
            </li>
            <li>requires an experienced interviewer - being a social situation, the conversation can easily
                drift into areas of limited insights
            </li>
            <li>it is difficult to achieve a repeatable and consistent outcome</li>
        </ul>

        <%- include('../../../components/content/ratings_table.ejs', {
        ratings: {
        development_technique: "LOW",
        delivery_pace: "UNKNOWN",
        code_quality: "UNKNOWN",
        testing_strategies: "LOW",
        key_technologies: "MEDIUM",
        }}) %>
    </div>
</section>
