<section class="section-indented-text">
    <div class="container">
        <a class="anchor" id="whiteboarding"></a>
        <h4>Whiteboarding session</h4>

        <b>What is it:</b>
        <p>
            During the face to face interview, together with the candidate, you sit in front of a whiteboard and
            sketch the design of a system.
        </p>

        <p>
            It could be a production system, a CI pipeline, anything really.
        </p>

        <p>
            The idea is to have meaningful conversations about software architectures and design trade-offs.
        </p>

        <b>Positives:</b>
        <ul>
            <li>can really dig deep into the candidates' architectural experience</li>
            <li>provides insights into how they approach operational considerations</li>
            <li>provides insights into the candidate's ability to explain complicated concepts</li>
            <li>the interviewer can control how much time it is spent covering a particular area</li>
        </ul>

        <b>Negatives:</b>
        <ul>
            <li>It’s a high-risk strategy to do this with candidates if you have not already seen some of their
                code
            </li>
            <li>due to time constraints, the conversation might drift into areas of limited insights</li>
            <li>requires an experienced interviewer - being a social situation, the conversation can easily
                drift into areas of limited insights
            </li>
        </ul>

        <%- include('../../../components/content/ratings_table.ejs', {
        ratings: {
        development_technique: "MEDIUM",
        delivery_pace: "UNKNOWN",
        code_quality: "UNKNOWN",
        testing_strategies: "MEDIUM",
        key_technologies: "UNKNOWN",
        }}) %>
    </div>
</section>