<header class="header-text-based">
    <div class="container">
        <h1>
            Privacy policy
        </h1>

        <p>
            This Privacy Policy is effective and updated as of 1st November 2019. By reading and continuing to use the
            site you agree to the following conditions of use.
        </p>
    </div>
</header>