<section class="section-default">
    <div class="container">
        <h4>Who are we?</h4>

        <p>
            Accelerate Systems Limited is a privately owned company focusing on providing clients with assessments that
            provide predictive insights.
        </p>

        <ul>
            <li><b>Company No:</b> 11975781</li>
            <li><b>Registered address:</b> International House, 64 Nile Street, London, United Kingdom, N1 7SR.</li>
            <li><b>Contact email address:</b> hello@accelerate.io</li>
        </ul>
    </div>
</section>