<section class="section-default">
    <div class="container">
        <h4>GDPR</h4>

        <p>
            The EU General Data Protection Regulation (GDPR) came into effect at the end of May 2018. In order to comply
            with the requirement of this law we have updated our Data Protection Policy.
        </p>

        <p>
            We recognise the need to protect the personal information that we might gather from our customers, potential
            customers and visitors to our website. We will only use the information that we collect lawfully, in
            accordance with GDPR.
        </p>

        <p>
            Information we may collect from you:
        </p>

        <ol>
            <li>If you contact us, we will keep a record of your personal information that you provide to us.</li>
            <li>Details of your visit to our website</li>
            <li>If you apply for a job with us</li>
        </ol>
    </div>
</section>