<section class="section-default">
    <div class="container">
        <h4>Legitimate interests</h4>

        <p>
            Accelerate has a legitimate interest to collect personal data for the three groups defined above. For groups
            1 and 2, the data collected is limited to names, job titles, company addresses, telephone numbers and
            corporate email addresses. Only relevant companies are contacted who may be interested in legitimate
            business services that we offer. We have carried out a legitimate interests assessment, the results of which
            are available on request.
        </p>
    </div>
</section>