<section class="section-default">
    <div class="container">
        <h4>Your Consent & Cookies</h4>

        <p>
            By accessing our website you are giving us consent to collect your personal information. The site uses
            cookies or similar technology to collect information about your access to the site. We do this to find out
            things such as the number of visitors to the various parts of the site, to ensure the content of our website
            is useful and appropriate.
        </p>

        <p>
            Cookies are small files that we transfer to your device, via our web browser, that enable us to remember
            certain information. We use cookies both to track visitor behaviour and to store site preferences. By using
            our website, you agree that we can place different types of cookies on your device. You can disable cookies
            in your browser. We use cookies to improve our website’s user experience and to measure and report on
            marketing performance.
        </p>

        <p>
            Third-party cookies: In the course of serving advertisements to this website, our third-party ad servers
            (including Google) may place or recognise a unique cookie on your browser. User interaction with ads and
            ad-views across the Google Display Network and/or other display advertising networks are reported in
            conjunction with activity on this site. Information about your visit to this website, such as number of
            times you have viewed and/or clicked an ad (but not your name, address, or other personal information), is
            used for internal reporting and advertising optimisation only.
        </p>

        <p>
            Users may opt out of Google’s use of cookies by visiting the Google Advertising Opt-out Page. Users may opt
            out of Google Analytics by visiting the Google Analytics Opt-out Page. Users may opt out of third party
            vendor use of cookies by visiting the Network Advertising Initiative Opt-out Page.
        </p>
    </div>
</section>