<section class="section-default">
    <div class="container">
        <h4>Marketing purposes</h4>

        <p>
            When data is collected for marketing purposes we ensure the legitimate interests of our business do not
            override the interests or fundamental rights and freedoms’ of the individuals we are contacting. We work
            with accredited marketing agencies, and any information we collect ensures we can deliver targeted, relevant
            and timely marketing. We have contracts with these agencies which impose strict requirements to keep your
            information confidential and secure; your personal information will only be provided to us with your
            consent.
        </p>

        <p>
            Marketing material and emails have unsubscribe options and contacts are able to opt out of communications if
            they choose.
        </p>
    </div>
</section>