<section class="section-default">
    <div class="container">
        <h4>Intellectual Property Rights</h4>

        <p>
            All intellectual property rights in or arising from this website, including all copyright belong to
            Accelerate unless otherwise stated. All rights are reserved.
        </p>
    </div>
</section>

<section class="section-default">
    <div class="container">
        <h4>Disclaimer</h4>

        <p>
            Accelerate makes every effort to ensure that the information on this website is accurate and up-to-date. We
            cannot, however, accept responsibility for any loss or inconvenience caused by reliance on inaccurate
            material contained in this site.
        </p>
    </div>
</section>

<section class="section-default">
    <div class="container">
        <h4>Links to other sites</h4>

        <p>
            Certain links, including hypertext links, in our site will take you to external websites. These are provided
            for your convenience and inclusion of any link does not imply endorsement or approval by Accelerate of the
            linked site, its operator or its content. We are not responsible for the content of any website outside of
            our site.
        </p>
    </div>
</section>


<section class="section-default">
    <div class="container">
        <h4>Accessibility</h4>

        <p>
            Accelerate endeavours at all times to make the site as accessible as reasonably possible to disabled users.
            In no way does Accelerate seek to deliberately discriminate against disabled users access to the website
            service in accordance with the Disability Discrimination Act 1995.
        </p>

        <p>
            This privacy policy only covers this Accelerate website – websites linked to and from this site are not
            covered by this policy.
        </p>
    </div>
</section>