<section class="section-default">
    <div class="container">
        <h4>Summary:</h4>
        <p>
            Over the past 12 months, Digital Consultancy Valtech have:
        </p>
        <ul>
            <li><b>Reduced</b> their time to hire by 50%</li>
            <li><b>Effortlessly</b> hired top quality candidates – only the best are interviewed with 80% then employed</li>
            <li><b>Enjoyed</b> a 100% success rate with new developers</li>
        </ul>

        <p>
            It’s all thanks to Accelerate’s ‘Developer <em>Insights</em>’ assessment.
        </p>
        <blockquote>
            <p class="content">
                “Developer <em>Insights</em> mimics clearly what we would expect them to do as part of the day job."
            </p>
            <p class="content">
                “When we use Developer <em>Insights</em>, no one has failed their probation period.”
            </p>
            <p class="author">
                Kevin Harkin, Managing Principal, Valtech
            </p>
        </blockquote>
        <p>
            Please read on to discover how it works for Valtech. And how it will for you.
        </p>
    </div>
</section>