<section class="section-default">
    <div class="container">
        <h4>The Challenge:</h4>
        <p>
            Does your developer recruitment feel like a gamble?
        </p>
        <p>
            This was the problem for Valtech.
        </p>
        <p>
            <i>“One of the things that we value very strongly is how people approach software development,”</i><br/>
            said Kevin
            Harkin.
            <br/>
            <i>“You need to know if that person, in terms of their approach to engineering, is going to be
                compatible with your organisation.”</i>
        </p>

        <p>
            None of Valtech’s previous assessments were providing these much needed insights. Algorithmic tests filtered
            out the worst candidates.
        </p>

        <p>
            However, it was impossible to draw meaningful conclusions about the rest:
        </p>
        <ul>
            <li>Who has mastered their development technique?</li>
            <li>Who can easily change existing code...without adding bugs?</li>
            <li>Who’s most comfortable with their tools in a high-pressure situation?</li>
        </ul>

        <p>
            “The truth of the matter was everyone scored incredibly highly,” Harkin said.
        </p>

        <p>
            Traditional take home tests were no better - they missed other vital metrics like speed of delivery.
        </p>

        <p>
            And all these assessments were adding weeks to Valtech's hiring time.
        </p>
        <blockquote>
            <p class="content">
                “We had a lot of candidates who pulled out because the process was just too long,”
            </p>
            <p class="content">
                “We acknowledge that we are in a competitive market for people and we don’t want to put ourselves at a
                disadvantage.”
            </p>
            <p class="author">
                Kevin Harkin
            </p>
        </blockquote>

        <p>
            Thankfully, Valtech addressed all of these challenges with one easy solution.
        </p>
    </div>
</section>