<section class="section-default">
    <div class="container">
        <h4>The Solution:</h4>

        <p>
            Accelerate’s Developer <em>Insights</em> Assessment tests your candidates through scenario-based coding challenge.
        </p>

        <p>
            <i>“Developer <em>Insights</em> mimics clearly what we would expect them to do as part of the day job,”</i> Harkin
            explained.
        </p>
        <p>
            What’s more, it records every useful metric:
        </p>
        <ul>
            <li>Speed of delivery</li>
            <li>Time distribution across each round</li>
            <li>Test coverage</li>
            <li>Coding technique</li>
        </ul>

        <p>
            This reveals deep insights you cannot find anywhere else.
        </p>
        <p>
            There's no need to trudge through piles of data. Each candidate’s results are presented on a single page.
        </p>

        <blockquote>
            <p class="content">
                “The way the reports are laid out, you see straight away whether someone is worth looking into.”
            </p>
            <p class="author">
                Kevin Harkin
            </p>
        </blockquote>

        <p>
            <b>With penalties added, Developer <em>Insights</em> has found some developers are 15X faster than others.</b>
            <br/>
            This one insight could dramatically lower your overheads.
        </p>

        <p>
            Still not sure who’s right for you?
        </p>

        <p>
            Your candidates can use to their own tools for writing, testing and compiling their software.
            <br/>
            What's more, Developer <em>Insights</em> records the candidates' IDE.
        </p>

        <p>
            This enables you to review exactly how they approached the challenge.
        </p>

        <blockquote>
            <p class="content">
                The most important thing for me, and what I find most impressive, is that ability to look into how someone has
                approached a problem.”
            </p>
            <p class="author">
                Kevin Harkin
            </p>
        </blockquote>
    </div>
</section>