<section class="section-default">
    <div class="container">
        <h4>The Results:</h4>
        <p>
            Within 12 months of using Developer <em>Insights</em>, Valtech enjoy:
        </p>
        <ul>
            <li><b>A 50% faster recruitment process.</b> Valtech have hired their new employees before rival companies
                have
                the chance to swoop in.
            </li>
            <li><b>Less time wasted on interviews.</b> Valtech now hire 80% of interviewees, because Developer <em>Insights</em>
                reveals
                the top candidates for you.
            </li>
            <li><b>100% success rate with new recruits.</b> <i>“When we use Developer <em>Insights</em>, no-one has failed their
                    probation
                    period,”</i> Kevin Harkin explained.
            </li>
        </ul>

        <p>
            <i>Even better, Valtech are gaining a strong reputation amongst top talent. Giving them a priceless edge
                against the competition</i>
        </p>
    </div>
</section>