<section class="section-default">
    <div class="container">
        <div class="row justify-center">
            <div class="col-xl-10">
                <h4>Faster And Better Hires</h4>

                <p>
                    When you use Developer <em>Insights</em>, you save money and time.
                </p>
                <p>
                    By having insights on candidates’ speed and technique, our clients reduce the amount
                    of time they spend interviewing candidates by 50%.
                </p>
                <p>
                    More importantly, as a result of identifying the best candidates faster,
                    they are achieving a phenomenal 80% interview to offer ratio.
                </p>
                <img src="assets/img/page/developer_insights/results_large_screen.png" alt="" class="system-img hidden-sm-down">
                <img src="assets/img/page/developer_insights/results_mobile.png" alt="" class="system-img hidden-md-up">
            </div>
        </div>
    </div>
</section>


