<footer data-aos="fade" class="footer">
    <div class="container">

        <div class="row footer-address">
            <div class="col-12">
                <p>
                    <b>Company No:</b> 11975781<br/>
                    <b>Registered address:</b> International House, 64 Nile Street, London, United Kingdom, N1 7SR.
                </p>
            </div>
        </div>

        <div class="row footer-copyright">
            <div class="col-12">
                <div class="copyright">© Copyright 2022. All Rights Reserved</div>
            </div>
        </div>

    </div>
</footer>
</body>

<!-- Libs & Plugins --><!--<script async src="https://storage.googleapis.com/heyflow-eu-static/widget/v1-2-3/index.min.js"/>-->
<script async src="assets/vendors/modernizr/modernizr.js"></script>
<script defer src="assets/vendors/jquery/jquery.min.js"></script>
<script defer src="assets/vendors/aos/aos.js"></script>

<!-- Core Template Scrips -->
<script defer src="assets/js/main.min.js"></script>


</html>
