<header class="header-text-based">
    <div class="container">
        <h1>
            Explainer Video
        </h1>
    </div>
</header>
<section class="section-center-aligned">
    <div class="container">
        <div class="row">
            <div class="col-lg-10">
                <%- include('../../components/content/vimeo_embed.ejs', {
                vimeo_id: "839531549",
                vimeo_security_code: "e3b3a8c238",
                component_unique_name: "explainer_video"
                }) %>
            </div>
        </div>
    </div>
</section>
<%- include('../../components/content/book_call_card.ejs', {meet_with_person: "Nick"}) %>
