<section class="section-default">
    <div class="container">
        <div class="row justify-center">
            <div class="col-xl-10">
                <p>
                    All you need to do is send the candidate a Developer Insights link.<br/>
                    Developer Insights takes care of the rest.
                </p>
                <img src="assets/img/page/developer_insights/process_large_screen.png" alt="" class="system-img hidden-sm-down">
                <img src="assets/img/page/developer_insights/process_mobile.png" alt="" class="system-img hidden-md-up">
            </div>
        </div>
    </div>
</section>

<section class="section-center-aligned">
    <div class="container shadow-box">
        <div class="row">
            <p>This video demonstrates the entire Developer Insights process.</p>
            <p>
                Starting with the candidate link, it shows how the entire candidate flow.
            </p>
            <div class="col-lg-10">
                <%- include('../../../components/content/vimeo_embed.ejs', {
                vimeo_id: "639059791",
                vimeo_security_code: "57fb473c3a",
                component_unique_name: "e2e_flow"
                }) %>
            </div>
        </div>
        <p>&nbsp;</p>
    </div>
</section>



