<nav class="nav">
    <div class="container">
        <div class="nav-flex">
            <a href="/" class="logo">
                <img src="assets/img/site/logo.svg" alt="">
            </a>
        </div>
    </div>
</nav>


<header class="main-header">
    <div class="container">
        <div class="header-content">
            <div class="row">
                <div class="col-lg-12 col-xl-12 center">
                    <iframe src="https://storage.googleapis.com/builder.zenflow.de/trial_from_ppc/www/index.html?rnd=jiektn"
                            class="zf__iframe" id="zf__iframe-trial_from_ppc" scrolling="yes" align="center" frameborder="0"
                            style="height: 530px; width: 800px; overflow: auto;" allowtransparency="true"></iframe>
                </div>
            </div>

            <div class="partners">
                <%- include('../../components/content/partner_companies_header_div.ejs') %>
            </div>
        </div>
    </div>
</header>


<section data-aos="fade-up" data-aos-delay="200">
    <%- include('../../components/content/book_call_card.ejs') %>
</section>
