<section class="section-default">
    <div class="container">
        <h4>You have been successfully unsubscribed from email communications.</h4>
    </div>
</section>

<section class="section-default">
    <div class="container">
        <p>
            If you like what we do, but simply don't like emails.<br/>
            Have a look around.
        </p>
        <p>
            A good starting point is our <a href="/developer-insights.html">Developer <em>Insights</em></a> Challenge.
        </p>
    </div>
</section>