<%- include('components/page/html_begin.ejs', {
    pagename: "iwoca - Case Study"
}) %>

<%- include('components/page/nav.ejs') %>

<div class="site-template">
    <%- include('pages/case_study_iwoca/all.ejs') %>
</div>

<%- include('components/page/html_end.ejs') %>