<%- include('components/page/html_begin.ejs', {
    pagename: "Case Studies"
}) %>

<%- include('components/page/nav.ejs', { desktop_page_index: 0, mobile_page_index: 2 }) %>

<div class="site-template">
    <%- include('pages/explainer_video_pk/video.ejs') %>
</div>

<%- include('components/page/html_end.ejs') %>