<%- include('components/page/html_begin.ejs', {
    pagename: "Master Subscription Agreement"
}) %>

<%- include('components/page/nav.ejs') %>

<div class="site-template">
    <%- include('pages/master_agreement/all.ejs') %>
</div>

<%- include('components/page/html_end.ejs') %>