<%- include('components/page/html_begin.ejs', {
    pagename: "Pricing"
}) %>

<%- include('components/page/nav.ejs', { desktop_page_index: 1, mobile_page_index: 4 }) %>

<div class="site-template">
    <%- include('pages/pricing/all.ejs') %>
</div>

<%- include('components/page/html_end.ejs') %>