<%- include('components/page/html_begin.ejs', {
    pagename: "About Us"
}) %>

<%- include('components/page/nav.ejs') %>

<div class="site-template">
    <%- include('pages/about_us/all.ejs') %>
</div>

<%- include('components/page/html_end.ejs') %>