<%- include('components/page/html_begin.ejs', {
    pagename: "Benefits"
}) %>

<%- include('components/page/nav.ejs', { desktop_page_index: 0, mobile_page_index: 1 }) %>

<div class="site-template">
    <%- include('pages/benefits/all.ejs') %>
</div>

<%- include('components/page/html_end.ejs') %>