<%- include('components/page/html_begin.ejs', {
    pagename: "How it works"
}) %>

<%- include('components/page/nav.ejs', { desktop_page_index: 0, mobile_page_index: 0 }) %>

<div class="site-template">
    <%- include('pages/developer_insights/all.ejs') %>
</div>

<%- include('components/page/html_end.ejs') %>