<%- include('components/page/html_begin.ejs', {
    pagename: "Unsubscribe"
}) %>

<%- include('components/page/nav.ejs') %>

<div class="site-template">
    <%- include('pages/xhidden_unsubscribe/all.ejs') %>
</div>

<%- include('components/page/html_end.ejs') %>