<%- include('components/page/html_begin.ejs', {
    pagename: "Scenario-based Coding Challenge"
}) %>

<%- include('components/page/nav.ejs') %>

<div class="site-template">
    <%- include('pages/xhidden_scenario_challenges/all.ejs') %>
</div>

<%- include('components/page/html_end.ejs') %>