<%- include('components/page/html_begin.ejs', {
    pagename: "Coming Soon"
}) %>

<div class="site-template"  style="padding-top: 0px">
    <%- include('pages/holding/all.ejs') %>
</div>

<%- include('components/page/html_nofooter_end.ejs') %>