<header class="header-colored-hero">
    <img src="assets/img/site/bg_tile.jpg" alt="" class="background">
    <div class="overlay blue"></div>
    <div class="container">
        <h1>
            Scenario-based Coding Challenges
        </h1>
        <ul class="list-with-right-arrows">
            <li>The secret to identifying developers that deliver</li>
        </ul>

        <br/>

        <p>
            <strong>Julian Ghionoiu</strong><br/>
            Coding challenge designer <br/>
            Seasoned developer and entrepreneur
        </p>
    </div>
</header>