<section class="section-default">
    <div class="container">
        <h3>Abstract (TL;DR)</h3>
        <p>
            Developer assessment methods have traditionally focused on what a developer can produce (results
            oriented) rather than how they approach a problem (process oriented).
        </p>
        <p>
            However, in order to hire developers that repeatedly deliver quality code, you need to focus more on
            the development technique, rather than solely assess code samples.
        </p>
        <p>
            Scenario based coding challenges provide predictive insights into all the areas you really need to
            focus on when assessing developers
        </p>
    </div>
</section>
