<section class="section-shield-with-shadow">
    <div class="container">
        <h3>Table of Contents</h3>

        <div class="row">
            <div class="col-lg-6 col-left">
                <p>
                    In this paper, we will look at:
                </p>
                <ul>
                    <li>
                        The pros and cons of current assessment methods and score them based on their predictive power
                    </li>
                    <li>
                        Scenario-based coding challenge - a new way to assess developers
                    </li>
                    <li>
                        How to structure an optimal hiring process
                    </li>
                </ul>
            </div>

            <div class="col-lg-6 col-right">
                <div class="hidden-lg-up"><br/><hr/></div>
                <p>
                    Quick links:
                </p>
                <ul class="list-table-of-contents">
                    <li class="level1">
                        <a href="#assessing-devs">Assessing developers is challenging</a>
                    </li>

                    <li class="level1">
                        <a href="#traditional-assessment-methods">Traditional assessment methods</a>
                    </li>
                    <li class="level2">
                        <a href="#take-home">Traditional take-home exercise</a>
                    </li>
                    <li class="level2">
                        <a href="#online-programming">Online programming puzzle</a>
                    </li>
                    <li class="level2">
                        <a href="#pairing">Hands-on pairing session</a>
                    </li>
                    <li class="level2">
                        <a href="#questions-f2f">Questions during the face to face interview</a>
                    </li>
                    <li class="level2">
                        <a href="#questions-online">Question via an online questionnaire</a>
                    </li>
                    <li class="level2">
                        <a href="#whiteboarding">Whiteboarding session</a>
                    </li>

                    <li class="level1">
                        <a href="#new-approach">A new approach to assessing Developers</a>
                    </li>
                    <li class="level2">
                        <a href="#scenario-based">Scenario based coding challenge</a>
                    </li>

                    <li class="level1">
                        <a href="#hiring-process">Reengineering your hiring process</a>
                    </li>
                    <li class="level1">
                        <a href="#conclusion">Conclusion</a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</section>