<section class="section-indented-text">
    <div class="container">
        <h4 class="section-heading">Problem</h4>
        <p>
            As an engineering manager, your assessment efforts can be summarised by this simple question:
        </p>
        <blockquote data-aos="fade-right" data-aos-delay="200">
            <p class="content">
                “How do you identify developers that deliver – and be sure that you are making the right hiring
                decision?”
            </p>
        </blockquote>
        <p>
            Top Developers are scarce and often “hidden” amongst a bunch of CV’s. Building your team involves a
            constant race against your competition. Too many hoops can scare your best candidates away.
        </p>
        <p>
            Simple coding challenges may weed out your worst candidates, yet never reveal who’s best.
        </p>
        <p>
            The result is hours of fruitless interviews, phone calls and other time-wasting drudgery. More hours
            stolen from your high-value senior Developers.
        </p>
        <p>
            And when it comes to making an offer, still not sure that it is the right call.
        </p>
        <p>
            Add up all of your risks, costs and potential mistakes, and it’s clear:
        </p>
        <blockquote data-aos="fade-right" data-aos-delay="200">
            <p class="content">
                “Finding quality, reliable Developers for your team is a hugely expensive and risky undertaking.”
            </p>
        </blockquote>
    </div>
</section>

