<section class="section-indented-text">
    <div class="container">
        <h4>What insights do Engineering Managers want?</h4>
        <p>
            As an engineering manager, your assessment efforts can be summarised by this simple question:
        </p>
        <ul>
            <li>development technique</li>
            <li>delivery pace</li>
            <li>code quality</li>
            <li>testing strategy</li>
            <li>experience with key technologies (frameworks, languages, tools)</li>
        </ul>
        <p>
            This provides them with a high-level of confidence to invite the candidate for a F2F interview.
        </p>
    </div>
</section>
