<section>
    <div class="container">
        <a class="anchor" id="assessing-devs"></a>
        <h2>
            Assessing developers is challenging
        </h2>
    </div>
</section>

<%- include('0_problem.ejs') %>
<%- include('1_what_insights.ejs') %>
