<section class="section-indented-text">
    <div class="container">
        <h4>Rationale</h4>
        <p>
            The traditional way of assessing developers involves looking at a sample of their code. This shows
            you what they can produce, the end result.
        </p>
        <p>
            With the advent of Extreme Programming and Test Driven Development, people started focusing more and
            more on how the code is produced rather than the end result.
        </p>
        <p>
            The ideal coding assessment should provide insights into both what the candidate can produce and
            how.
        </p>
    </div>
</section>
