<section>
    <div class="container">
        <a class="anchor" id="new-approach"></a>
        <h2>
            A new approach to assessing Developers
        </h2>
    </div>
</section>

<%- include('0_rationale.ejs') %>
<%- include('1_scenario_based.ejs') %>
