<header class="header-text-based">
    <div class="container">
        <h1>
            Speed + Technique
        </h1>
        <h2>
            The secret to identifying your best dev candidates
        </h2>
        <img src="assets/img/page/speed_technique/rounds_large_screen.png" alt="" class="system-img hidden-sm-down">
        <img src="assets/img/page/speed_technique/rounds_mobile.png" alt="" class="system-img hidden-md-up">
    </div>
</header>