<section class="section-default">
    <div class="container">
        <h4>Assessing developers is challenging</h4>

        <p>
            Top Developers are scarce and often “hidden” amongst a bunch of CVs.
            Too many hoops can scare your best candidates away.
            Simple coding challenges may weed out your worst candidates, but without revealing who’s best.
            The result can be hours of fruitless interviews, phone calls and other time-wasting drudgery.
        </p>
        <p>
            By trying to keep candidates happy, you risk reducing your process to the point where you cannot be
            sure who the best developer is. When you are paying top wages, you want to know.
        </p>
    </div>
</section>