<section class="section-default">
    <div class="container">
        <h4>Let’s go back to first principles</h4>

        <p>
            What if there was a magic wand you could wave and have all the data you needed to make an
            informed decision about a developer candidate? That would be nice, right?
        </p>
        <p>
            You would most likely ask for the following:
        </p>
        <ul>
            <li>Development technique</li>
            <li>Delivery pace</li>
            <li>Code quality</li>
            <li>Testing strategy</li>
        </ul>
        <p>
            Deep data on the above would enable you to objectively compare candidates and hire the best developers.
        </p>
        <p>
            Unfortunately, the methods dev hiring managers are using don’t truly provide the information they need:
        </p>
        <div style="overflow-x:auto;">
            <table>
                <tr>
                    <th></th>
                    <th>Development Technique</th>
                    <th>Delivery Pace</th>
                    <th>Code Quality</th>
                    <th>Testing Strategy</th>
                </tr>
                <tr>
                    <td>Take-home exercises</td>
                    <td>NONE</td>
                    <td>NONE</td>
                    <td>HIGH</td>
                    <td>MEDIUM</td>
                </tr>
                <tr>
                    <td>Online programming puzzles</td>
                    <td>NONE</td>
                    <td>LOW</td>
                    <td>HIGH</td>
                    <td>LOW</td>
                </tr>
                <tr>
                    <td>Pairing sessions</td>
                    <td>MEDIUM</td>
                    <td>LOW</td>
                    <td>LOW</td>
                    <td>MEDIUM</td>
                </tr>
                <tr>
                    <td>Technical questions</td>
                    <td>LOW</td>
                    <td>NONE</td>
                    <td>NONE</td>
                    <td>LOW</td>
                </tr>
                <tr>
                    <td>Whiteboarding exercise</td>
                    <td>MEDIUM</td>
                    <td>LOW</td>
                    <td>LOW</td>
                    <td>MEDIUM</td>
                </tr>
            </table>
        </div>
        <p>
            Looking at this table, is it any wonder that Hiring Managers are left unsure as to who to hire?
        </p>
    </div>
</section>