<section class="section-default">
    <div class="container">
        <h4>Developer assessment theatre</h4>

        <p>
            The above approaches are what we call “developer assessment theatre”.
        </p>
        <p>
            Where we are actors pretending that we have special intuition into candidates’ skills and capabilities.
        </p>
        <p>
            It feels like a comfortable place because any decision can be easily justified.
        </p>
        <p>
            But it relies on luck and is not a consistent and repeatable process.
        </p>

        <blockquote data-aos="fade-right" data-aos-delay="200">
            <p class="content">
                “Everything that can be counted does not necessarily count;
                everything that counts cannot necessarily be counted.”
            </p>
            <p class="author">
                Albert Einstein
            </p>
        </blockquote>

        <p>
            Einstein could have been talking about the state of dev assessments.
        </p>

        <p>
            But just imagine if the objective data that counts for assessing developers could be
            counted and you could obtain it with much less effort than your current process.
        </p>

        <div class="btn-wrap">
            <a href="/developer-insights.html" class="btn btn-dark-empty">Introducing "Developer <em>Insights</em>"</a>
        </div>
    </div>
</section>