<section class="section-default">
    <div class="container">
        <p>
            Here are just some of the impressive stories from companies like yours.
        </p>
        <p>
            The numbers say it all:
        </p>

        <ul>
            <li>Our clients report a startling 80% of candidates
                interviewed AFTER a Developer <em>Insights</em> test received an offer</li>
            <li>We are helping companies reduce the time spent hiring developers by 50%</li>
            <li>Clients report a 100% success rate with candidates they've
                hired after using Developer <em>Insights</em>.</li>
        </ul>
    </div>
</section>