<header class="header-text-based">
    <div class="container">
        <h1>
            About Us
        </h1>
        <p>
            Accelerate.io was founded by
            <a class="person-name" href="https://www.linkedin.com/in/julianghionoiu">Julian Ghionoiu</a> and
            <a class="person-name" href="https://www.linkedin.com/in/nickzak">Nick Zak</a>.
        </p>
        <p>
            We spent a number of years assessing and hiring high-quality
            software engineers for a global digital transformation consultancy.
        </p>
        <p>
            Accelerate.io was born out of our frustrations with existing developer assessment solutions.
        </p>
        <p>
            We passionately believe that hiring companies and candidates deserve far better.
            Our mission is to change the world of technical assessments by creating solutions
            that provide objective and unbiased data.
        </p>
        <p>
            The Accelerate fully-customisable platform will underpin a suite of technical delivery focussed challenges.
        </p>
        <p>
            Developer <em>Insights</em> captures how all our challenges will be engineered in the future.
        </p>
        <p>
            They will provide our clients with:
        </p>
        <ul>
            <li>
                the confidence that they are hiring candidates who have proven that they will deliver
            </li>
            <li>
                significant time savings, by both shortening the recruitment process and making faster
                offers to the proven best candidates
            </li>
        </ul>
        <p>
            With the success of Developer <em>Insights</em>,
            we are currently working on DevOps Insights, which will be available in 2022.
        </p>
    </div>
</header>