<section class="section-center-aligned">
    <div class="container">
        <div class="row justify-center">
            <div class="col-xl-5">
                <div class="julian-and-nick-img">
                    <img src="assets/img/page/company/julian_and_nick.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>