<header class="header-text-based">
    <div class="container">
        <h1>
            Pricing
        </h1>
        <p>
            In order to assess candidates with Developer Insights,
            you need to email each of them their own separate candidate link.
        </p>
        <p>
            If you are not completely satisfied, we will give <b>100% of your money back</b> if you cancel within <b>90 days</b>.
        </p>
        <p>
            By purchasing a licence, you agree to the <a href="/master-subscription-agreement.html" class="underline">master subscription
                agreement</a> and <a href="/privacy-policy.html" class="underline">privacy policy</a>.
        </p>
    </div>
</header>