<header class="main-header">
    <div class="container">
        <div class="header-content">
            <div class="row">
                <div class="col-lg-12 col-xl-12 center">
                    <h2 data-aos="zoom-in" data-aos-delay="100" class="white header-title">
                        Don’t settle for hiring average developers
                    </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-xl-12 center">
                    <h4 data-aos="zoom-in" data-aos-delay="100" class="white">
                        Developer <em>Insights</em> puts your candidates<br/>
                        through five rounds of changing requirements,<br/>
                        revealing their speed and technique
                    </h4>
                </div>
            </div>

            <div class="row">
                <div data-aos="fade" data-aos-delay="350" class="col-lg-12 center">
                    <div class="buttons">
                        <a href="/developer-insights.html" class="btn btn-dark">How It Works</a>
                    </div>
                </div>
            </div>

            <div class="partners" data-aos="fade" data-aos-delay="350">
                <%- include('../../../components/content/partner_companies_header_div.ejs') %>
            </div>
        </div>
    </div>
</header>