<header class="header-text-based">
    <div class="container">
        <h1>
            Benefits
        </h1>

        <p>
            Use Developer <em>Insights</em> to:
        </p>
        <ul>
            <li>Confidently know your candidates’ speed and development technique</li>
            <li>Reduce the time you spend on interviewing by 50%</li>
            <li>Make faster offers to your proven candidates</li>
        </ul>
    </div>
</header>
