<section class="section-default">
    <div class="container">
        <h4> Reduce the time you spend recruiting by 50%</h4>

        <p>
            Most companies have a two-stage assessment process, e.g.
            an online test followed by a take-home exercise.
            This lengthens the hiring process without really giving you true
            insights into a candidate’s speed and technique.
        </p>
        <%- include('../../components/content/process_graph_before.ejs') %>

        <p>However, as a one stage coding challenge, Developer <em>Insights</em> does better job than
            two traditional challenges combined. Essentially, it halves the recruitment time.</p>

        <%- include('../../components/content/process_graph_after.ejs') %>


        <p>
            Additionally, by assessing candidates up-front with
            Developer <em>Insights</em>,
            you are uncovering which of them have the skills you require.
        </p>

        <p>
            <b>You are not just filtering out non-qualified candidates. You are identifying your best ones.</b>
        </p>
        <p>
            On average, our clients reduce time spent in interviews by 50%.</p>
        <p>
    </div>
</section>
