<section class="section-default">
    <div class="container">
        <h4>Additional benefits</h4>

        <ul>
            <li>Improved candidate experience</li>
            <li>Eliminate bias</li>
            <li>Increased consistency and confidence</li>
        </ul>
    </div>
</section>
