<section class="section-default">
    <div class="container">
        <h4>Developer <em>Insights</em> is good for candidates as well!</h4>

        <p>
            Get a true picture of their abilities by testing them:
        </p>
        <ul>
            <li>in their own environment, using their own IDE and tools</li>
            <li>on their time, enabling them to pause and resume at their own convenience</li>
        </ul>

        <p>
            When high performing candidates are tested with Developer <em>Insights</em>,
            they have a positive “candidate experience”,
            and that makes your company stand out versus your competitors,
            giving you the advantage on landing the best devs.
        </p>
    </div>
</section>
