<section class="section-default">
    <div class="container">
        <h4>Eliminate bias</h4>

        <p>
            Companies that are open to hiring diverse individuals from all
            types of backgrounds, have access to a larger pool of talent.
            Your goal should be to eliminate any form of discrimination from your hiring process.
        </p>
        <p>
            Developer <em>Insights</em>
            has been built to help you counter the negative effect of unconscious bias.
            Our reports do not reveal the candidate’s identity.
            Only the person who emailed the challenge to the candidate will know which report is theirs.
        </p>

        <p>
            The decision to progress a candidate is solely based on their performance on the challenge.
        </p>
    </div>
</section>
