<header class="main-header">
    <div class="container">
        <div class="header-content" style="padding-top: 100px">
            <div class="row">
                <div class="col-lg-12 col-xl-12 center" style="padding-top: 150px">
                    <h2 data-aos="zoom-in" data-aos-delay="100" class="white header-title">
                        Thank you for visiting our website
                    </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-xl-12 center">
                    <h4 data-aos="zoom-in" data-aos-delay="100" class="white">
                        We are making major changes to our products <br/>and a new website is in the making.
                    </h4>
                    <br/>
                    <h5 data-aos="zoom-in" data-aos-delay="100" class="white">
                        We are still operating as usual and supporting existing customers.
                    </h5>
                </div>
            </div>

        </div>
    </div>
</header>