<div class="container">
    <div class="row">
        <p>
            <b>Developer <em>Insights</em></b> assesses candidates before you interview them.
            The result is you don’t waste time with candidates who don’t meet your requirements.
        </p>
        <p>
            You email a candidate a link to the Developer Insights challenge.
            Once they finish the challenge, you will be emailed a detailed report.
        </p>
        <p>
            You will know in minutes if you should progress them.
        </p>
        <p>
            Try 3 FREE links with your team or with candidates.
        </p>
    </div>
</div>