
<section class="section-default">
    <div class="container">
        <a href="/"><img src="assets/img/site/logo.svg" alt="Accelerate" class="standalone-logo"></a>
        <h1>
            Make BIG time savings in 2022
        </h1>
        <div class="row">
            <div class="col-lg-6 col-left">
                <%- include('0_left_content.ejs') %>
            </div>

            <div class="col-lg-6 col-right">
                <%- include('1_trial_form.ejs') %>
            </div>
        </div>
    </div>
</section>

<!-- Partners -->
<div>
    <%- include('../../components/content/partner_companies_section.ejs') %>
</div>
