<section class="section-center-aligned">
    <div class="container">
        <div class="row justify-center">
            <div class="col-xl-10">
                <p>
                    Developer Insights is a real-world online challenge which puts candidates through rounds of changing requirements.
                </p>
                <p>
                    This reveals their speed and development technique.
                </p>

                <img src="assets/img/page/developer_insights/incremental_large_screen.png" alt="" class="system-img hidden-sm-down">
                <img src="assets/img/page/developer_insights/incremental_mobile.png" alt="" class="system-img hidden-md-up">
            </div>
        </div>
    </div>
</section>