<section class="section-default">
    <div class="container">
        <div class="row justify-center">
            <div class="col-xl-10">
                <h4>How Does It Identify Who You Need?</h4>
                <p>
                    The secret lies in the test structure.
                </p>
                <p>
                    As the challenge evolves, candidates must rethink and adapt their initial design decisions.
                </p>
                <p>
                    They need to balance speed with quality and will incur time penalties for mistakes.
                </p>
                <p>
                    This approach reveals the critical skill sets you must have insights on before you decide who you want to interview.
                </p>
                <p>
                    You can be confident you are moving forward with qualified candidates that meet your requirements.
                </p>
            </div>
        </div>
    </div>
</section>


